* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {

  --width: 99%;

  --heigth: calc(var(--width) / 1.62);
}

.container {
  margin: 25px auto;
  width: 90vw;
}

.bg-color {

  /* backdrop-filter: blur(2px); */
  backdrop-filter: blur(1px);
  background: rgba(230, 0, 0, 0.733);
  box-shadow: 0 5px 21px 0 rgba(31, 38, 135, 0.37);
}

button {
  cursor: pointer;
}

main {
  background-color: #efedee;
}

.custom-loader {
  animation: s3 1s infinite linear;
  background: conic-gradient(#0000 10%, #766df4);
  border-radius: 50%;
  height: 50px;
  overflow: hidden;
  position: relative;
  width: 50px;
}

.custom-loader .mask {
  background: radial-gradient(farthest-side, #0000 calc(100% - 8px), black 0);
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

@keyframes s3 {

  to {
    transform: rotate(1turn);
  }
}

.div-cards {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
}

.recipe-card {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 20px 0;
  width: 46vw;
}

.recipe-card > a {
  color: black;
  text-decoration: none;
}

