.login {
  align-items: center;
  background-image: url('../images/backgrounds/cesto-de-frutas.jpg');
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 100vh;
  justify-content: flex-start;
}

form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 7vw;
  width: 20vw;
}

.input-txt, .btn-login {
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
  margin-bottom: 1vh;
  padding: 10px;
  width: 100%;
}

.btn-login {
  background-color: rgb(255, 164, 45);
  font-size: medium;
  transition: 200ms ease-in background;
}

.btn-login:disabled {
  background-color: rgba(255, 164, 45, 0.473);
}


.btn-login:hover {
  background-color: rgb(255, 23, 42);
}

@media screen and ( max-width : 480px ) {

  .login {
    justify-content: center;
  }

  form {
    background-color: rgba(240, 240, 240, 0.829);
    border-radius: 5px;
    box-shadow: 1px 2px 15px 0 rgba(0, 0, 0, 0.925);
    padding: 20px;
    width: 55vw;
  }
}
