/* --------------- ICONS - MEALS --------------- */
.icons-categories {
  align-items: center;
  display: flex;
  justify-content: space-around;
  overflow-x: hidden;
}

.btn-categories {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.btn-category-all {
  align-items: flex-end;
  background-image: url('../images/icons/all-icon.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  height: 80px;
  justify-content: center;
  width: 50px;
}

.btn-category-beef {
  align-items: flex-end;
  background-image: url('../images/icons/beaf-icon.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  height: 80px;
  justify-content: center;
  width: 50px;
}

.btn-category-breakfast {
  align-items: flex-end;
  background-image: url('../images/icons/breakfast-icon.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  height: 80px;
  justify-content: center;
  width: 50px;
}

.btn-category-chicken {
  align-items: flex-end;
  background-image: url('../images/icons/chicken-icon.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  height: 80px;
  justify-content: center;
  width: 50px;
}

.btn-category-dessert {
  align-items: flex-end;
  background-image: url('../images/icons/dessert-icon.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  height: 80px;
  justify-content: center;
  width: 50px;
}

.btn-category-goat {
  align-items: flex-end;
  background-image: url('../images/icons/goat-icon.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  height: 80px;
  justify-content: center;
  width: 50px;
}

.btn-category {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
}

button img {
  width: 50px;
}

div img {
  width: 50px;
}

/* --------------- ICONS - DRINKS --------------- */
.btn-category-all-drinks {
  align-items: flex-end;
  background-image: url('../images/icons/all-icon-drinks.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  height: 80px;
  justify-content: center;
  width: 50px;
}

.btn-category-ordinary {
  align-items: flex-end;
  background-image: url('../images/icons/ordinary-drinks.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  height: 110px;
  justify-content: center;
  width: 50px;
}

.btn-category-cocktail {
  align-items: flex-end;
  background-image: url('../images/icons/cocktail-icon.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  height: 80px;
  justify-content: center;
  width: 50px;
}

.btn-category-shake {
  align-items: flex-end;
  background-image: url('../images/icons/shake.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  height: 80px;
  justify-content: center;
  width: 50px;
}

.btn-category-other {
  align-items: flex-end;
  background-image: url('../images/icons/others-drinks.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  height: 110px;
  justify-content: center;
  width: 50px;
}

.btn-category-cocoa {
  align-items: flex-end;
  background-image: url('../images/icons/cocoa-icon.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  height: 80px;
  justify-content: center;
  width: 50px;
}

/* --------------- BODY - RECIPE --------------- */
.page-recipe-meals {

  /* vermelho é melhor */
  background-color: #efedee;
  background-image: url('../images/backgrounds/recipe-meals-red.png');
  background-position: center;
  background-size: contain;
  padding-top: 15px;
}
