.footer-fixed {
  align-items: center;
  background-color: rgb(252, 220, 54);
  bottom: 0;
  display: flex;
  justify-content: space-around;
  padding: 15px 0;
  position: fixed;
  width: 100vw;
}

.footer-fixed > a {
  margin: 0 15px;
}

.footer-fixed > a > img {
  height: 40px;
}
